$surface-bg: #B7AE98;
$surface-fg: #424113;
$border-color: #000000;

$general-font: "CQ Mono";
$general-font-size: 1.4em;

.monitor_info {
}

.separator_down {
    border-bottom: 0.4px solid $border-color;
    margin-bottom: 0.5em;
}

.style_class {
    border: 0.2px solid $border-color;
    background-color: rgba($surface-bg, 0.7);
    padding: 0.4em;
}

.midia_info_class {
    font-size: $general-font-size;
}

.cpu_info_class {
    border: 0.2px solid $border-color;
    background-color: rgba($surface-bg, 0.7);
    font-size: $general-font-size;
    margin-bottom: 1em;
}

.top {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: $general-font-size;
}

.mem_graph {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
}

.mem_info_class {
    border: 0.2px solid $border-color;
    background-color: rgba($surface-bg, 0.7);
    font-size: $general-font-size;
    margin-bottom: 1em;
}

.normal_info {
    font-size: $general-font-size;
}

.temp_info {
    border: 0.2px solid $border-color; 
    background-color: rgba($surface-bg, 0.7);
    padding: 0px;
    font-size: $general-font-size;
}

.header_class {
    font-size: $general-font-size + 0.5;
}

.volume_display {
    font-size: $general-font-size;
    margin-left: 1em;
    padding-right: 1em;
    border-right: 1 solid $border-color;
}

.bbuttons {
    margin-top: 1em;
    button {
        margin: 0.2em;
        label {
            font-size: $general-font-size;
            color: #000000;
        }
    }
}

.todo_day {
    margin: 1.4em;
    font-size: $general-font-size;
}

.pomodoro {
    font-family: "Pomodoro";
    font-size: $general-font-size;
    border: 0.2px solid $border-color;
    padding: 0.4em;
}

window {
    font-family: $general-font;
    background-color: unset;
    label {
       color: $surface-fg;
    }
    graph {
        color: $surface-fg;
    }
}


