$surface-bg: #EEFCFE;
$surface-fg: #294765;
$border-color: #000000;

$general-color: #FFFFFF;
$alternative-font-color: #000000;

$transparency-level: 0.85;

$general-font: "Kingthings Trypewriter 2";
$general-font-size: 1.3em;

.monitor_info {
}

.separator_down {
    border-bottom: 0.4px solid $border-color;
    margin-bottom: 0.5em;
}

.style_class {
    border: 0.2px solid $border-color;
    background-color: rgba($surface-bg, $transparency-level);
    padding: 0.4em;
}

.midia_info_box_class {
    background-color: rgba($general-color, $transparency-level);
}

.midia_info_class {
    font-size: $general-font-size;
    padding: 1em;
}

.cpu_info_class {
    border: 0.2px solid $border-color;
    background-color: rgba($surface-bg, $transparency-level);
    font-size: $general-font-size;
    padding: 0.5em;
}

.fortune_class {
    padding: 0.3em;
    font-size: $general-font-size - 0.2;
}

.top {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: $general-font-size;
}

.mem_graph {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
}

.mem_info_class {
    border: 0.2px solid $border-color;
    background-color: rgba($surface-bg, $transparency-level);
    font-size: $general-font-size;
}

.normal_info {
    font-size: $general-font-size;
    background-color: rgba($general-color, $transparency-level);
}

.temp_info {
    border: 0.2px solid $border-color; 
    background-color: rgba($surface-bg, $transparency-level);
    padding: 0px;
    font-size: $general-font-size;
}

.header_class {
    font-size: $general-font-size + 0.5;
}

.volume_display {
    font-size: $general-font-size;
    margin-left: 1em;
    padding-right: 1em;
    border-right: 1 solid $border-color;
    color: $alternative-font-color;
}

.ctemps_layout {
    background-color: rgba(#000000, 1);
}

.bbuttons {
    margin-top: 1em;
    button {
        margin: 0.2em;
        label {
            font-size: $general-font-size;
            color: #000000;
        }
    }
}

.todo_day {
    margin: 1.4em;
    font-size: $general-font-size - 0.2;
}

.pomodoro {
    background-color: rgba($general-color, $transparency-level);
    font-family: "Pomodoro";
    font-size: $general-font-size;
    border: 0.2px solid $border-color;
    padding: 0.4em;
}

window {
    font-family: $general-font;
    background-color: unset;
    label {
       color: $surface-fg;
    }
    graph {
        color: $surface-fg;
    }
}


