
configure_day() {
    echo "Configuring day"

    reset_configs "day"
    source ${HOME}/.config/bspwm/themes/bsp.cfg

    # Configure wallpaper
    if [ "${CHOSEN}" = "day" ]
    then
        set_wallpaper
    fi

    secundary_wide=$(monitors_info.sh -s)
    if [ -z "$secundary_wide" ]; then
	secundary_wide=$(monitors_info.sh -iw 0)
    fi

    # Configure colors
    echo "Getting colors"
    local cur_wallpaper=$(get_wallpaper)

    echo $cur_wallpaper > ~/wallpaper.txt

    colors_wallpaper=($(get_wall_colors "$cur_wallpaper"))
    
    if [ "yes" = "${secundary_wide}" ]; then
            cp ${HOME}/.config/polybar/config_wide ${HOME}/.config/polybar/config
    fi

    # Config polybar colors
    sed -i "s/^background = #.*/background = #00000000/" ${HOME}/.config/polybar/config
    sed -i "s/^background-alt = #.*/background-alt = #$(retrieve_color n 2)/" ${HOME}/.config/polybar/config

    local b_w=$(black_or_white ${cur_wallpaper})

    if [ "${b_w}" = "black" ]; then
	    sed -i "s/^foreground = #.*/foreground = #$(retrieve_color n 0)/" ${HOME}/.config/polybar/config
	    sed -i "s/^black_or_white = #.*/black_or_white = #$(retrieve_color n 0)/" ${HOME}/.config/polybar/config
    else
	    sed -i "s/^foreground = #.*/foreground = #FFFFFFF/" ${HOME}/.config/polybar/config
	    sed -i "s/^black_or_white = #.*/black_or_white = #$(retrieve_color i 0)/" ${HOME}/.config/polybar/config
    fi

    if [ "${b_w}" = "black" ]; then
        sed -i "s/#000011/#D8$(retrieve_color n 1)/" ${HOME}/.config/polybar/config #FillBackground
	    sed -i "s/^foreground-alt = #.*/foreground-alt = #77$(retrieve_color i 5)/" ${HOME}/.config/polybar/config #ICONS
        sed -i "s/^foreground-alt2 = #.*/foreground-alt2 = #9F$(retrieve_color i 0)/" ${HOME}/.config/polybar/config
        sed -i "s/#000008/#$(retrieve_color n 12)/" ${HOME}/.config/polybar/config  #Time
        local color_foreground=$(echo $(retrieve_color i 1) | sed 's/./D/1' | sed 's/./D/3' | sed 's/./D/5')
        sed -i "s/#000012/#${color_foreground}/" ${HOME}/.config/polybar/config #Foreground-fill
        sed -i "s/#000014/#${color_foreground}/" ${HOME}/.config/polybar/config #Focused workspace
    else
        sed -i "s/#000011/#D8$(retrieve_color i 1)/" ${HOME}/.config/polybar/config # Fill BACKGROUND
	    sed -i "s/^foreground-alt = #.*/foreground-alt = #$(retrieve_color i 5)/" ${HOME}/.config/polybar/config #ICONS
        local color_foreground=$(echo $(retrieve_color n 3))
        sed -i "s/#000012/#${color_foreground}/" ${HOME}/.config/polybar/config #Foreground-fill
        sed -i "s/#000014/#$(retrieve_color n 1)/" ${HOME}/.config/polybar/config #Focused workspace
        sed -i "s/^foreground-alt2 = #.*/foreground-alt2 = #$(retrieve_color i 9)/" ${HOME}/.config/polybar/config
        sed -i "s/^foreground-alt = #.*/foreground-alt = #80$(retrieve_color n 9)/" ${HOME}/.config/polybar/config #ICONS
        sed -i "s/#000008/#$(retrieve_color n 1)/" ${HOME}/.config/polybar/config   #time
    fi

    sed -i "s/#000001/#$(retrieve_color i 4)/" ${HOME}/.config/polybar/config
    sed -i "s/#000002/#$(retrieve_color i 2)/" ${HOME}/.config/polybar/config
    sed -i "s/#000003/#$(retrieve_color n 6)/" ${HOME}/.config/polybar/config
    sed -i "s/#000004/#$(retrieve_color n 3)/" ${HOME}/.config/polybar/config
    sed -i "s/#000005/#$(retrieve_color n 5)/" ${HOME}/.config/polybar/config
    sed -i "s/#000006/#$(retrieve_color n 8)/" ${HOME}/.config/polybar/config
    sed -i "s/#000007/#$(retrieve_color n 10)/" ${HOME}/.config/polybar/config
    sed -i "s/#000009/#$(retrieve_color n 9)/" ${HOME}/.config/polybar/config
    sed -i "s/#000010/#$(retrieve_color n 7)/" ${HOME}/.config/polybar/config

    sed -i "s/#000013/#$(retrieve_color n 4)/" ${HOME}/.config/polybar/config

    sed -i "s/^background = #.*/background = #6F$(retrieve_color i 4)/" ${HOME}/.config/polybar/config_simple
    sed -i "s/^background-alt = #.*/background-alt = #$(retrieve_color n 2)/" ${HOME}/.config/polybar/config_simple
    sed -i "s/^foreground = #.*/foreground = #$(retrieve_color n 1)/" ${HOME}/.config/polybar/config_simple
    sed -i "s/^foreground-alt2 = #.*/foreground-alt2 = #$(retrieve_color i 4)/" ${HOME}/.config/polybar/config_simple
    sed -i "s/#000001/#$(retrieve_color i 4)/" ${HOME}/.config/polybar/config_simple


    # Config dunst colors
    # Urgency low
    sed -i "s/#000001/#$(retrieve_color i 5)/" ${HOME}/.config/dunst/dunstrc #background
    sed -i "s/#000002/#$(retrieve_color n 2)/" ${HOME}/.config/dunst/dunstrc #foreground
    sed -i "s/#000003/#$(retrieve_color i 1)/" ${HOME}/.config/dunst/dunstrc # frame

    # Urgency normal
    sed -i "s/#27125B/#$(retrieve_color i 2)/" ${HOME}/.config/dunst/dunstrc
    sed -i "s/#FFFFFE/#$(retrieve_color n 2)/" ${HOME}/.config/dunst/dunstrc
    sed -i "s/#668BC8/#$(retrieve_color n 1)/" ${HOME}/.config/dunst/dunstrc

    sed -i "s/#000000/#$(retrieve_color i 2)/" ${HOME}/.config/twmn/twmn.conf
    sed -i "s/#999999/#$(retrieve_color n 2)/" ${HOME}/.config/twmn/twmn.conf

    sed -i "s/#000005/#$(retrieve_color n 7)/" ${HOME}/.config/dunst/dunstrc # frame

    # Config bsp collors
    sed -i "s/#100001/#${color_foreground}/" ${HOME}/.config/bspwm/themes/bsp.cfg
    sed -i "s/#100002/#$(retrieve_color i 1 )/" ${HOME}/.config/bspwm/themes/bsp.cfg
    sed -i "s/#100003/#$(retrieve_color n 3 )/" ${HOME}/.config/bspwm/themes/bsp.cfg
    sed -i "s/#100004/#$(retrieve_color i 3 )/" ${HOME}/.config/bspwm/themes/bsp.cfg

    sed -i "s/#100005/#$(retrieve_color i 1)/" ${HOME}/.config/bspwm/themes/bsp.cfg #DMENU BCKGROUND
    sed -i "s/#1ffff6/#$(retrieve_color n 2)/" ${HOME}/.config/bspwm/themes/bsp.cfg # DMENU FONT COLOR
    sed -i "s/#100007/#$(retrieve_color n 2)/" ${HOME}/.config/bspwm/themes/bsp.cfg #DMENU ALT
    sed -i "s/#100008/#$(retrieve_color i 1)/" ${HOME}/.config/bspwm/themes/bsp.cfg #DMENU SELECTED FONT COLOR
    sed -i "s/#100009/#$(retrieve_color n 6)/" ${HOME}/.config/bspwm/themes/bsp.cfg #DMENU NORMAL HL FONT COLOR
    sed -i "s/#100010/#$(retrieve_color i 3)/" ${HOME}/.config/bspwm/themes/bsp.cfg #DMENU SELECTED HL FONT COLOR

    # Configure conky! Here we go!
    sed -i "s/CBD38F/$(retrieve_color i 8)/" ${HOME}/.config/conky/process.conf
    sed -i "s/777777/$(retrieve_color i 1)/" ${HOME}/.config/conky/process.conf
    sed -i "s/444444/$(retrieve_color i 3)/" ${HOME}/.config/conky/process.conf
    sed -i "s/222222/$(retrieve_color i 5)/" ${HOME}/.config/conky/process.conf

    sed -i "s/CBD38F/$(retrieve_color i 5)/" ${HOME}/.config/conky/cpu.conf
    sed -i "s/777777/$(retrieve_color i 3)/" ${HOME}/.config/conky/cpu.conf
    sed -i "s/444444/$(retrieve_color i 1)/" ${HOME}/.config/conky/cpu.conf
    sed -i "s/222222/$(retrieve_color n 1)/" ${HOME}/.config/conky/cpu.conf

    sed -i "s/000001/$(retrieve_color i 6)/" ${HOME}/.config/conky/calendar.conf
    sed -i "s/000002/$(retrieve_color i 6)/" ${HOME}/.config/conky/calendar.conf
    sed -i "s/000003/$(retrieve_color i 4)/" ${HOME}/.config/conky/calendar.conf
    sed -i "s/000004/$(retrieve_color i 3)/" ${HOME}/.config/conky/calendar.conf
    sed -i "s/000005/$(retrieve_color n 8)/" ${HOME}/.config/conky/calendar.conf
    sed -i "s/000006/$(retrieve_color n 3)/" ${HOME}/.config/conky/calendar.conf
    sed -i "s/000007/$(retrieve_color n 5)/" ${HOME}/.config/conky/calendar.conf
    sed -i "s/000008/$(retrieve_color n 6)/" ${HOME}/.config/conky/calendar.conf
    sed -i "s/000009/$(retrieve_color n 8)/" ${HOME}/.config/conky/calendar.conf

    # Configure vis color
    sed -i "s/000001/$(retrieve_color n 1)/" ${HOME}/.config/vis/colors/theme
    sed -i "s/000002/$(retrieve_color n 2)/" ${HOME}/.config/vis/colors/theme
    sed -i "s/000003/$(retrieve_color n 3)/" ${HOME}/.config/vis/colors/theme
    sed -i "s/000004/$(retrieve_color n 4)/" ${HOME}/.config/vis/colors/theme
    sed -i "s/000005/$(retrieve_color n 5)/" ${HOME}/.config/vis/colors/theme
    sed -i "s/000006/$(retrieve_color n 6)/" ${HOME}/.config/vis/colors/theme
    sed -i "s/000007/$(retrieve_color n 7)/" ${HOME}/.config/vis/colors/theme
    sed -i "s/000008/$(retrieve_color n 8)/" ${HOME}/.config/vis/colors/theme
    sed -i "s/000009/$(retrieve_color n 9)/" ${HOME}/.config/vis/colors/theme
    sed -i "s/000010/$(retrieve_color n 10)/" ${HOME}/.config/vis/colors/theme
    sed -i "s/000011/$(retrieve_color n 11)/" ${HOME}/.config/vis/colors/theme


    sed -i "s/000001/$(retrieve_color i 1)/" ${HOME}/.config/tint2/tint2rc
    sed -i "s/000002/$(retrieve_color i 4)/" ${HOME}/.config/tint2/tint2rc
    sed -i "s/000003/$(retrieve_color i 3)/" ${HOME}/.config/tint2/tint2rc
    sed -i "s/000004/$(retrieve_color i 2)/" ${HOME}/.config/tint2/tint2rc
    sed -i "s/000005/$(retrieve_color i 1)/" ${HOME}/.config/tint2/tint2rc
    sed -i "s/000006/$(retrieve_color n 1)/" ${HOME}/.config/tint2/tint2rc

    # Alterando o script na mao. Pensar depois em delegar isso para os proprios scripts
    sed -i "s/^from=#.*/from=#$(retrieve_color i 6)/" ${HOME}/.config/wm/pulse.conf
    sed -i "s/^to=#.*/to=#$(retrieve_color n 0)/" ${HOME}/.config/wm/pulse.conf

    # Alacritty background
    #sed -i "s/background: .*/background: '0x$(retrieve_color i 4)'/" ${HOME}/.config/alacritty/alacritty.yml

    # Configure vim
    sed -i 's/^colorscheme.*/colorscheme gruvbox/' ${HOME}/.vim/configs/theme.vim
    sed -i 's/set background.*/set background=light/' ${HOME}/.vim/configs/theme.vim
    sed -i 's/airline_theme.*/airline_theme="gruvbox"/' ${HOME}/.vim/configs/theme.vim

    # SPARKS
    sed -i "s/^regex_color=.*/regex_color=\"$(retrieve_color n 6)\"/" ${HOME}/bin/spark

    # Configure lockscreen
    rm $HOME/Videos/*
    ln -s $HOME/Documents/Pictures/screensavers/day $HOME/Videos/day
    sed -i "s/SAVER=.*/SAVER=saver_mpv/" ${HOME}/bin/imports/lock.sh

    # Configure rofi
    cp ${HOME}/.config/rofi/tpl/arthur.tpl ${HOME}/.config/rofi/bspwm.rasi
    cp ${HOME}/.config/rofi/tpl/colors.tpl ${HOME}/.config/rofi/colors.rasi

    local b_w=$(black_or_white_rex "$(retrieve_color i 1)")

    sed -i "s/#inputbarfn/#$(retrieve_color n 1)/" ${HOME}/.config/rofi/colors.rasi
    
    sed -i "s/#foreground/#$(retrieve_color n 1)/" ${HOME}/.config/rofi/colors.rasi
    sed -i "s/#window_color/#3F$(retrieve_color i 2)/" ${HOME}/.config/rofi/colors.rasi
    sed -i "s/#inputbarcolor/#$(retrieve_color i 1)/" ${HOME}/.config/rofi/colors.rasi
    sed -i "s/#listbgcolorNT/#$(retrieve_color i 6)/" ${HOME}/.config/rofi/colors.rasi
    sed -i "s/#listbgcolor/#$(retrieve_color i 1)A9/" ${HOME}/.config/rofi/colors.rasi
    sed -i "s/#activeItem/#$(retrieve_color n 2)/" ${HOME}/.config/rofi/colors.rasi
    sed -i "s/#highlightActive/#$(retrieve_color i 1)/" ${HOME}/.config/rofi/colors.rasi
    sed -i "s/#selectedActiveItem/#$(retrieve_color n 3)/" ${HOME}/.config/rofi/colors.rasi
    sed -i "s/#selectedFgActiveItem/#$(retrieve_color i 1)/" ${HOME}/.config/rofi/colors.rasi

    # Configuring the terminal theme
    sed -i "s/\(\bbackground = \)\(.*\),/\1\'#$(retrieve_color i 1)\',/" ${HOME}/.config/wezterm/extra.lua
    sed -i "s/\(\bforeground = \)\(.*\),/\1\'#$(retrieve_color n 2)\',/" ${HOME}/.config/wezterm/extra.lua

    # Changing the GTK theme to dark
    sed -i "s/gtk-theme-name=.*/gtk-theme-name=Breeze/" ${HOME}/.config/gtk-3.0/settings.ini

    finalize_theme
    #Set messaging
    dunst >> /tmp/dunst.log 2>&1 &

    if [[ ! -z "$is_bspc" ]]; then
        #Rounded corners
        # bspc config border_radius 0

        # Set windows gap
        bspc config window_gap 6

        bspc config split_ratio 0.60

        bspc config border_width 1

        #start the polybar
        if [ "yes" = "${secundary_wide}" ]; then
                toggle_bars.sh
        else
                toggle_bars.sh
        fi
        #Start conky
        ${HOME}/.config/conky/conky.sh >> /tmp/conky.log 2>&1 &
    fi


    #Start transparency
    start_picom.sh

    echo "Theme setup finished"
}
