git+https://github.com/toggle-corp/alacritty-colorscheme.git
youtube-search-python
Requests
click
i3ipc
pydbus
pycairo
pyttsx3
beautifulsoup4
grab
catt
Tabulate
Google-Images-Search
python-xlib
psutil
flake8
barva
