$surface-bg: #212F67;
$cpu-bg: #22354B;
$mem-bg: #264E74;
$cpu-temp-bg: #2B4D99;
$mem-temp-bg: #3A3EB9;
$surface-fg: #D9A8FB;
$border-color: #A55BFE;

$general-font: "Share Tech Mono";
$general-font-size: 1.0em;

$transparency: 0.6;

.monitor_info {
}

.style_class {
    border: 0.2px solid $border-color;
    background-color: rgba($surface-bg, $transparency);
    padding: 0.4em;
}

.normal_info_class {
    font-size: $general-font-size;
}

.normal_int_class {
    padding-left: 2em;
    padding-right: 2em;
}

.fortune_class {
    background-color: rgba($surface-bg, $transparency + 0.3);
    font-size: $general-font-size;
    border: 0.4em solid $border-color;
}

.midia_info_box {
    font-size: $general-font-size - 0.1;
    border: 0.4em solid $border-color;
}

.cpu_info_class {
    border: 0.2px solid $border-color;
    background-color: rgba($cpu-bg, $transparency);
}

.top {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: $general-font-size;
}

.cpu_graph {
    min-width: 8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
}

.mem_graph {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
}

.mem_info_class {
    background-color: rgba($mem-bg, $transparency);
}

.mem_usage_class {
    border: 0.2px solid $border-color;
    padding-left: 1em;
    padding-right: 1em;
    font-size: $general-font-size;
}

.cpu_perc_class{
    min-width: 8em;
    font-size: $general-font-size;
}

.cpu_temp_info {
    border: 0.2px solid $border-color; 
    font-size: $general-font-size;
    background-color: rgba($cpu-temp-bg, $transparency);
    padding-left: 1em;
    padding-right: 1em;
}

.mem_temp_info {
    border: 0.2px solid $border-color; 
    font-size: $general-font-size;
    background-color: rgba($mem-temp-bg, $transparency);
    padding-left: 1em;
    padding-right: 1em;
}


.header_class {
    font-size: $general-font-size + 0.5;
}

.bbuttons_small {
        margin-left: 1em;
        margin-top: 1.0em;
        margin-bottom: 1.0em;
        padding-right: 1.0em;
        padding-left: 1.0em;
        background-color: rgba($surface-bg, 0.8);
        background-image: unset;
        border: unset;
        label {
            font-size: $general-font-size - 0.4;
        }
}

.cplayer_select {
        background-color: rgba($surface-fg, 0.8);
        background-image: unset;
        label {
            color: $surface-bg;
        }

}

.image_class {
    border-right: 1px solid $border-color;
    background-color: rgba($cpu-bg, $transparency);
}

.bbuttons {
        background-color: rgba($surface-bg, 0.8);
        background-image: unset;
        margin: 1.3em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border: unset;
        font-size: $general-font-size - 0.5;
        label {
            font-size: $general-font-size;
        }
}

.pomodoro {
    font-family: "Pomodoro";
    font-size: $general-font-size;
    border: 0.2px solid $border-color; 
    background-color: rgba($mem-temp-bg, $transparency);
    padding-left: 1em;
    padding-right: 1em;
}

window {
    font-family: $general-font;
    background-color: unset;
    label {
       color: $surface-fg;
    }
    graph {
        color: $surface-fg;
    }
}


